{{block "base" .}}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/main.css">
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
</head>
<body hx-ext="response-targets">
    <header>
        <button hx-get="/posts" hx-target=".content">Лента новостей</button>
        <button hx-get="/admin" hx-target=".content">Админка</button>
    </header>
    <section class="content">
        <p>Добро пожаловать</p>
    </section>
</body>
</html>
{{end}}

{{block "error" .}}
{{.Data}}
{{end}}